<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title api
body
    h1 Welcome API 
    table(border="1px")
        tr
            th food_id
            th food_name
            th food_picture
        tr
            td xx
            td xxx
            td xxx.jpg
    

    //- script(type="text/javascript", src="/lib/angular/angular.min.js")